.box {
    height:200px;
    width: 300px;
    background-color: rgb(30, 43, 111);
}
.responsive-box {
    width:50vw;
    height:50vh;
    background-color: bisque;
}
.padded-text {
    padding: 20px;
    background-color: rgb(195, 116, 13);
}
.custom-padding {
    padding: 10px 20px;
    background-color: rgb(191, 153, 227);
}
.border-box {
    border: 2px solid black;
}
.rounded-border{
    border: 3px dotted red;
    border-radius: 15px;
}
.margin-text {
    margin: 30px;
    background-color: rgb(244, 94, 94);
}
.custom-margin {
    margin: 20px 40px;
    background-color: rgb(81, 186, 113);
}
.inline-element {
    display: inline;
    background-color: darkgray;
}
.block-element {
    display: block;
    background-color: rgb(188, 118, 223);
}
.inline-block-element {
    display: inline-block;
    background-color: cadetblue;
}
.hidden-element {
    display: none;
}
.visible-element {
    visibility: visible;
}
.invisible-element {
    visibility: hidden;
}
.transparent-box {
    background-color: rgb(76, 76, 245);
    opacity: 0.5;
}